.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.title {
  text-align: center;
  color: azure;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: azure;
}

.listContainer {
  margin: 25px 10px;
  display: grid;
  grid-template-areas: "votes title info comments";
  grid-template-columns: 1fr 6fr 2fr 1fr;
  background-color: grey;
}
.listComments {
  text-align: center;
  vertical-align: middle;
  color: azure;
}
.listTitle {
  vertical-align: middle;
  font-size: 20px;
  color: azure;
  text-align: justify;
}

.listVotes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

#wholeApp {
  color: azure;
  height: 100%;
  background-image: linear-gradient(#080808, #262626);
}
#articleList {
  margin: 10px;
}
.commentContainer {
  margin: 25px 10px;
  display: grid;
  grid-template-areas: "votes author comments";
  grid-template-columns: 1fr 2fr 7fr;
  background-color: grey;
}
.downvoted {
  background-color: crimson;
}
.upvoted {
  background-color: royalblue;
}
.NavBar {
  text-align: center;
  word-spacing: 20px;
  background-color: grey;
}
.headGrid {
  display: grid;
  grid-template-areas: "sort signIn";
  grid-template-columns: 2fr 3fr;
  margin: 10px 20px;
}
#signIn {
  text-align: right;
}
#commentAdder {
  left: 20px;
}
#commentAdderGrid {
  display: grid;
  grid-template-rows: 4fr 1fr;
  text-align: center;
  margin: 10px 10px 0 50px;
}

.warning {
  color: red;
}
#commentLink {
  font-size: 30px;
}
.NavItem {
  color: blue;
}
#paginator {
  text-align: center;
}
.pageButton {
  width: 10%;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
  background-color: inherit;
  color: azure;
  text-align: center;
}

ul#horizontal-list {
  list-style: none;
  padding: 20px;
  color: azure;
  text-align: center;
}
ul#horizontal-list li {
  display: inline;
  color: azure;
  text-align: center;
}
.numbtn {
  color: white;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.user {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 3px white;
}
.time {
  text-align: center;
}
.deleteButton {
  color: blue;
  background-color: inherit;
  border: none;
}
.commentBody {
  text-align: justify;
}
